.contect-text{
    align-items: center;
    margin: 50px;
}

.contect-text h1{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
color: #161616;
}
.contect-text p{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #565656;
}
.contect_button button{
margin-left: 35% ;
    width: 115px;
height: 38px;
border: none;
border-radius: 20px;
background-color: #161616;
color: aliceblue;
}
.lable-text{
    border-radius: 20px;
}
.lable-text label{
    margin: 0px 0px 5px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #161616;
}
.lable-text textarea{
height: 120px;
}
.lable-text span{
    color: red;
}
.Form-text_head{
    padding-bottom: 10px;
}
.Form-text_head h1{
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
text-align: center;
color: #161616;
}
/* Blogs section start  */

.blogs-text h1{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

text-align: center;

color: #161616;
}
.blogs-text input{
height: 49.83px;
}

.small_imgs{
    width:310px;
}
.cardbodys h5{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #161616;
}
.dateofCards{
    margin-top: 10px;
    margin-bottom: -1px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 180.4%;
color: #393939;
}
.textsss{
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 180.4%;
    color: #7A7A7A;
}
.Small_card{
    display: flex !important;
    padding-top: 25px;
    /* gap: 1px; */
}
@media (max-width: 768px) {
    .form-control {
      width: 80%;
    }
    .lable-text{
        /* width: 20px; */
      background-color: red;
      padding: 0px;
      margin: 0px;
      height: 100%;
      width: 90%;
    }
    .small_imgs{
        width:120px;
        margin: 0px;
    }
    .Small_card{
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 0px;
    }
    .cardss{
        width: 100px !important;
       
    }
    .cardbodys{
        display: none;
    }
   
   
    }
  
    .cardss{
        width: 310px;
     
    }
     
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  
  