.background_explor{
    width: 100%;
    background: linear-gradient(180deg, #09376E 0%, #245FA7 100%);
    margin-top: -50px;
  }
.row_between{
  height: 550px;
}
.Explore_section{
  display: flex;  
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/Images/HomeSecond/transaction_logo.png");
  background-size:95% auto;
 object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.text_right img{
  width: 100%;
 /* height: 470px; */
 /* padding-right: 10%; */
}
.expore_h1 {
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
color: #FFFFFF;
}
.botton_Explore {
    line-height: 31.69px;
    color:  #0C376A;
    font-size: 20px ;
    font-weight: 600;
    background: #FFFFFF;
    border-radius: 21px;
  border: none;
  padding-left:5%;
  padding-right:5%;
}
  @media only screen and (min-width: 300px) and (max-width: 767px) {
  .background_explor{
    margin-top: 50px;
  }
  .row_between{
    height: 100%;
  }
  .Explore_section{
    height: 390px;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/Images/HomeSecond/transaction_logo.png");
    background-size:70% auto;
   object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* .text_right img{
    width: 100%;
   } */
   .Left_row{
    margin-top: 30px !important;
    order: 2;
   }
   .Right_row{
    order: 1;
   }
   .expore_h1{

font-size: 20px; 
line-height: 24px;
  margin-top: 50%;
  margin-bottom:50%;
   }
  
  .botton_Explore{
    position: absolute;
    margin-top: -25%;
    padding-top: 0px;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;

   }
  
}



/* blogs start  */
.cardssss{

  box-shadow: 0 0 5px 2px #cecece;
}
.home_blogss{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.blogs{
  width: 100%;
     padding-top: 50px;
}
.three_card{
  padding: 10px;
 
}
.bolgs_text{
  padding-top:80px;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #161616;
}
.textssssss{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160.4%;
  color: #7A7A7A;

}
.card_head_text {
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #161616;
}
.ccardbody h5{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #161616;
}
.dateofCard{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180.4%;
color: #393939;
}
.textss{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175.4%;
    color: #7A7A7A;
    margin-top: -10px;
}
.ReadButton{
padding:5px 25px 5px 25px; 
background-color:#161616;
color:  #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
border: none;
border-radius: 5px;
width: 169px;
}
.ccardbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.card {
    border: none !important;

  }
  @media only screen and (min-width: 300px) and (max-width: 767px) {
.home_blogss{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
}

 .my-img{
  width: 100%;
  height: 100%;
  position: absolute;
 }




/* what our clint say  */
.clint_section{
    margin: 50px;
    margin-bottom: 50px;
}
.cards{
  border: 2px solid red;
}
.clint_single_cards{
    border: none;
    background-color: white;
}
.Clint_heading{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    color: #161616;
}
/* .clinets_card{
    display: flex;   
    gap: 40%;
} */
.main__card{
    display: flex;
}
.card_name{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 180.4%;
color: #2F2F2F;
}
.card_country{
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;
color: #404040;
}
.summery{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 180.4%;
color: #2F2F2F;
}
.hover:hover{
  box-shadow: 0 0 5px 2px rgba(147, 147, 147, 0.25);
  opacity: 1;
}
.hover{
  opacity: 0.8;
}
/* Frequent_text section start */


.Frequent_text h1{
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 41px;
text-align: center;

color: #161616;
}
.Frequent_text h6{
    margin-top: 2%;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #161616;

}
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .Clint_heading{
    font-weight: 700;
font-size: 26px;
line-height: 35px;
text-align: center;
  }
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
    .Frequent_text h6 {
        font-weight: 600;
font-size: 17px;
    }

}
 .control{
    width: 38%;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    padding: 10px 40px 10px 40px;
 }
 @media only screen and (min-width: 300px) and (max-width: 767px) {
    .control {
      width: 80%;
    }
  }
 .Questions_text{
    border-bottom: 1px solid black;
 }
 .flex_direction{
    margin: 15px 0px 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .Questions_text h5{
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
color: #161616;
 }
 .Questions_text p{
    
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;

color: #7A7A7A;
    width: 61%;
 }
 .Questions_text_last{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .Questions_text-last h5{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #161616;
 }
 .Questions_text_last p{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #7A7A7A;
        width: 50%;
    }
    .learn_more_btn{
      text-decoration:underline;
    }
    .learn_more_btn:hover{
      cursor: pointer;
    }
    @media only screen and (min-width: 300px) and (max-width: 767px) {
        .col-lg-12 {
          margin: -11px;
        }
       .Questions_text{
        padding-left: 30px;
      
       }
      }
      


    .swiper-slide-active {
        transform: scale(0.1); 
      }
      .swiper-slide {
        width: 300px;
      }
