.modal-wrappersss {
    z-index: 1000;
    top: -250px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .modalBackdropsss{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
  }
  
  .modal-boxsss {
    width: 229px;
    height: 290px;
    position: relative;
    z-index: 1000;
    padding: 15px 0px 15px 0px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: slide-down 0.3s ease-out;
    text-align: center;
    margin: 0px;
  }

    .moadl-contentsss h1{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #161616;
 }
 .line{
    width: 100%;
     height: 0px;
    border: 1px solid #D9D9D9;
 }
  
  .moadl-contentsss p{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #3F3F3F;
padding-top: 10px;
  }
  .mmoadl-contentsss span{
    color: black;
  }
  
  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  
  .closeBtn {
    width: 190px;
    padding: 0px 5px 0px 10px;
    color: white;
    background-color: #161616;
    height: 35px;
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid #eeee;
    transition: background-color 0.5s ease;
  }
  .closeBtn:hover {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
  }
  
  /* @media screen and (max-width: 560px) { */
    @media only screen and (min-width: 300px) and (max-width: 767px) {
    .description {
      height: 100%;
      width: 350px;
    }
  }
  
  
  
  
  
  