
.navbar--shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color:white;
    /* position: 0px; */
  }
.db_logo_icon{
  width: 20%;
  }
 
  .cancle_icon{
    margin-top: 5%;
    margin-left: 5%;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
 
  }
  
  .navbar__logo {
    flex-grow: 1;

  }
.king-text{
    font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 17px;
text-align: center;
 color: #161616;

}
  .navbar__menu {
    display: none;
  box-shadow: #7d7c7c;
  }
  
  .navbar__menu ul {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar__menu a img{
    padding: 1px;
    width: 22px;
    height: 22px;
  }
  .navbar__menu a span{
    padding-left: 5px;
    font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 22px;
text-align: center;
color: #161616;
  }
  .navbar__menu a {
    border: 1px solid black;
border-radius: 20px;
    padding: 0px 10px 7px 10px ;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .navbar__icons {
    display: flex;
    align-items: center;
  }
  
  .navbar__icon {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .model_button{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
  }
  .navbar__menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .navbar__menu-icon {
    width: 25px;
    height: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;

  }
  
  .navbar__menu-icon::before,
  .navbar__menu-icon::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar__menu-icon::before {
    top: -8px;
    /* background-color: green; */
  }
  
  .navbar__menu-icon::after {
    bottom: -15px;
    background-color: black;
  }
  
  .navbar__menu.show-menu {
    align-items: center;
    display: block;
    position: absolute;
    top: 140%;
    right: 30px;
    background-color: white;
    width: 100%;
    z-index: 1;
    }
    @media (min-width:769px) {
      ._ul_alignmate{
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 30px;
      }
        .king-text{
            display: none;
        }
       .playStore{
            width: 40% !important ;
        }
        .king_icon{
          width: 40%;
        }
    }
    @media (max-width: 768px) {
        .navbar__menu {
            box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.5);
             width: 100% !important ;
                  left: 0px;
                 
              }

    }
    @media (min-width: 768px) {
      .Container_navBar{
        display: flex !important;
        justify-content: space-between !important;
      }
    .navbar__menu {
    display: flex;
          top: 0;
      left: 0;
      right: 20% !important;

    }
   
    .navbar__menu ul {
    flex-direction: row;
    }
    
    .navbar__menu li {
    margin-right: 1rem;
    
    }
    
    .navbar__menu-toggle {
    display: none;
    }
    }
    @media (max-width: 767px) {
      .king_icon{
        width: 10% !important ;
    }
    .playStore{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 2%; */
    }
    .playStore a{
      width: 35%;
    }
        .navbar__menu li:nth-child(1){
          order: 3;
        }
      
        .navbar__menu li:nth-child(2) {
          order: 3;
        }
      
        .navbar__menu li:nth-child(3) {
          order: 1;
        }
        .show-menu{
          height: 150vh;


        }
        .navbar__menu ul {
          list-style: none;
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 50px;
        }
        .navbar__menu li{
          width: 100%;
        }
        .navbar__menu a {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 15px; 
          padding-right: 20px;
          border: 1px solid black;
      border-radius: 9px !important;
          text-decoration: none;
          font-size: 1.1rem;
        }
        .navbar__menu span{
          font-weight: 600;
          font-size: 10px;
          line-height: 15px;
        }
       
      .Nav__menu_li_a span{
        padding-left: 1% !important;
         
          }
         .navbar__menu{
          top: 0px !important;
        }
      
       
        .navbar__menu a span{
          /* padding-left: 6px; */
          font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #161616;
        }
   
        
      }

      
