.privacy_header{
    
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
margin: 40px;
color: #161616;
}
.privacy_text{
    margin: -2px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #6C6C6C;
}
.privacy_text_header{
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
text-align: center;
margin-top: 25px;
color: #6C6C6C;
}
@media (max-width: 768px) {
    .privacy_text{
font-weight: 400;
font-size: 12px;
line-height: 15px;
    }
    .privacy_header{
        font-weight: 700;
font-size: 26px;
line-height: 32px;
text-align: center;
    }
    .privacy_text_header{
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
}