.container_two{
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.card_imggg{
    width: 100%;
    height: 100% auto ;
}
.social_iconss{
    width: 30px;
    
}
.reactngle_bar{
    width: 3px;
}

.main_header{
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 50px;
color: #161616;
height: auto !important;
}
.pargram_head{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #161616;
    padding-top: 35px;
    height: auto !important;
}
.pargram_head_2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #161616;
    height: auto !important;
}
.all_text{
    font-style: normal;
font-weight: 400;
font-size: 16px;
color: #606060;
height: auto !important;
}
.googlepay_text{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #161616;
        height: auto !important;
}
.google_sub_heading{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #161616;
}

.blogs_3_text h5{
    padding-top: 20px;
    padding-left: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #161616;
}
.blogs_3_text p{
    font-style: normal;
font-weight: 400;
font-size: 15px;

color: #606060;
}
.blogs3_summery{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #161616;
} 
.dashback_head{
    line-height: 0%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #161616;
    padding-top: 30px;

}